<div class="page-content">
    <img src="https://i.ibb.co/w43TQjw/Admin-header.png" alt="header image">
    <p>Welcome to your dashboard!</p>
    
    <div class="logout">
        <button onclick="window.location.href='/admin/logout'">Logout</button>
    </div>
    
    <br>

    <div class="tabbed">
        <input type="radio" id="tab1" name="css-tabs" checked>
        <input type="radio" id="tab2" name="css-tabs" checked>
        <input type="radio" id="tab3" name="css-tabs" checked>
        

        <ul class="tabs">
        <input type="radio" id="tab1" name="css-tabs" checked>
            <li class="tab"><label for="tab1">Employees</label></li>
            <li class="tab"><label for="tab2">Projects</label></li>
            <li class="tab"><label for="tab3">Kloks</label></li>
        </ul>



        <div class="tab-content">
            <label for="item-2" class="toggle">+ Employee</label>
            <input type="checkbox" name="one" id="item-2" class="hide-input">
            <div class="toggle-el">
                <h4>New Employee Information</h4>
                <form class="createUser" method="POST" action="/admin/new-user">
                    <p>
                        <label for="username">Username:</label>
                        <input id="username" type="text" name="username"/>
                    </p><p>
                        <label for="PIN">PIN:</label>
                        <input id="PIN" type="text" name="PIN"/>
                    </p><p>
                        <label for="fullmame">Full Name:</label>
                        <input id="fullname" type="text" name="fullname"/>
                    </p><p>
                        <label for="startDate">Start Date:</label>
                        <input id="startDate" type="text" name="startDate"/>
                    </p><p>
                        <label for="position">Position:</label>
                        <input id="position" type="text" name="position"/>
                    </p><p>
                        <label for="hourlyPay">Pay Rate:</label>
                        <input id="hourlyPay" type="number" name="hourlyPay"/>
                    </p><p>
                        <button type="submit">Add User</button>
                    </p>
                </form>
            </div>
            <h4>All Employees</h4>
            <ul>
                <% admin.users.forEach((user) => { %>
                <li>
                <%= user.fullname %> <button type="button" data-toggle="modal" data-target="#edit_user">EDIT</button>
                </li>
                <% }) %>
            </ul>
        </div>

        <div class="tab-content">    
            <label for="item-3" class="toggle">+ Project</label>
            <input type="checkbox" name="one" id="item-3" class="hide-input">
            <div class="toggle-el">
                <h4>New Project Information</h4>
                <form class="createProject" method="POST" action="/admin/new-project">
                    <p>
                        <label for="name">Name:</label>
                        <input id="name" type="text" name="name"/>
                    </p>
                    <p>
                        <label for="location">Location:</label>
                        <input id="location" type="text" name="location"/>
                    </p><p>
                    <label for="projectID">Project ID:</label>
                    <input id="projectID" type="text" name="projectID"/>
                    </p><p>
                    <label for="startDate">Start Date:</label>
                    <input id="startDate" type="date" name="startDate"/>
                    </p><p>
                    <label for="active">Active:</label>
                    <input id="active" type="checkbox" name="active"/>
                    </p><p><label for="projectType">Project Type:</label>
                    <input id="projectType" type="text" name="projectType"/>
                    </p><p>
                    <button type="submit">Add Project</button></p>
                </form>
            </div>
            <h4>All Projects</h4>
            <ul>
                <% admin.projects.forEach((project) => { %>
                    <li><%= project.name %> <button onclick="window.location.href='/admin/edit-project/<%= project._id %>'">EDIT</button>
                  <% }) %>
            </ul>
        </div>



        <div class="tab-content">
            <label for="item-4" class="toggle">+ Klok</label>
            <input type="checkbox" name="one" id="item-4" class="hide-input">
            <div class="toggle-el">
                <h4>Add Klok (Time-Punch)</h4>
                <form class="createKlok" method="POST" action="/admin/new-klok">
                    <p>
                        <label for="user">User:</label>
                        <input id="user" type="text" name="user"/>
                    </p><p>
                        <label for="projectID">Project:</label>
                        <input id="projectID" type="text" name="projectID"/>
                    </p><p> 
                        <label for="date">Date:</label>
                        <input id="date" type="text" name="date"/>
                    </p><p>
                        <label for="description">Description:</label>
                        <input id="description" type="text" name="description"/>
                    </p><p>
                        <label for="hours">Hours:</label>
                        <input id="hours" type="number" name="hours"/>
                    </p><p>
                        <button type="submit">Add Klok</button>
                    </p>
                </form>
            </div>
            <h4>All Kloks</h4>
            <ul>
                <% klokkies.forEach((klokkie) => { %>
                    <li><%= klokkie._id %> <button onclick="window.location.href='/admin/editklok/<%= klokkie._id %>'">EDIT</button>
                  <% }) %>
            </ul>
        </div>  

    </div>
</div>





<!-- MODAL FOR NEW USER/EMPLOYEE -->



<!-- GOES TO MODAL
<div class="tab-content">
            
        </div>
-->
<!-- EDIT GOES TO MODAL
        <div class="tab-content">
            <h4>Add New Project</h4>
            <form class="createProject" method="POST" action="/admin/new-project">
                <fieldset>
                    <label for="name">Name:</label>
                    <input id="name" type="text" name="name"/>
                </fieldset>
                <fieldset>
                    <label for="location">Location:</label>
                    <input id="location" type="text" name="location"/>
                </fieldset>
                <fieldset>
                    <label for="projectID">Project ID:</label>
                    <input id="projectID" type="text" name="projectID"/>
                </fieldset>
                <fieldset>
                    <label for="startDate">Start Date:</label>
                    <input id="startDate" type="date" name="startDate"/>
                </fieldset>
                <fieldset>
                    <label for="active">Active:</label>
                    <input id="active" type="checkbox" name="active"/>
                </fieldset>
                <fieldset>
                    <label for="projectType">Project Type:</label>
                    <input id="projectType" type="text" name="projectType"/>
                </fieldset>
                <fieldset>
                    <button type="submit">Add Project</button>
                </fieldset>
            </form>
        </div>
    -->