<div class="maincontainer admin">
    <div class="newUser">
        <h2>ADD NEW USER</h2>
        <form class="createUser" method="POST" action="/admin/new-user">
            <fieldset>
                <label for="username">Username:</label>
                <input id="username" type="text" name="username"/>
            </fieldset>
            <fieldset>
                <label for="PIN">PIN:</label>
                <input id="PIN" type="text" name="PIN"/>
            </fieldset>
            <fieldset>
                <label for="fullmame">Full Name:</label>
                <input id="fullname" type="text" name="fullname"/>
            </fieldset>
            <fieldset>
                  <label for="startDate">Start Date:</label>
                <input id="startDate" type="text" name="startDate"/>
            </fieldset>
            <fieldset>
                <label for="position">Position:</label>
                <input id="position" type="text" name="position"/>
            </fieldset>
            <fieldset>
                <label for="hourlyPay">Pay Rate:</label>
                <input id="hourlyPay" type="number" name="hourlyPay"/>
            </fieldset>
            <fieldset>
                <button type="submit">Add User</button>
            </fieldset>
        </form>
    </div>
    <div class="allusers">
        <h2>ALL USERS</h2>
        <ul>
            <% users.forEach((user) => { %>
            <li>
            <%= user.fullname %><button onclick="window.location.href=`/admin/edit-user/<%= user._id %>`">EDIT</button>
            </li>
            <% }) %>
        </ul>
    </div>
</div>


<div class="maincontainer admin">
    <div class="newProject">
        <h2>ADD PROJECT</h2>
        <form class="createProject" method="POST" action="/admin/new-project">
            <fieldset>
                <label for="name">Name:</label>
                <input id="name" type="text" name="name"/>
            </fieldset>
            <fieldset>
                <label for="location">Location:</label>
                <input id="location" type="text" name="location"/>
            </fieldset>
            <fieldset>
                <label for="projectID">Project ID:</label>
                <input id="projectID" type="text" name="projectID"/>
            </fieldset>
            <fieldset>
                <label for="startDate">Start Date:</label>
                <input id="startDate" type="date" name="startDate"/>
            </fieldset>
            <fieldset>
                <label for="active">Active:</label>
                <input id="active" type="checkbox" name="active"/>
            </fieldset>
            <fieldset>
                <label for="projectType">Project Type:</label>
                <input id="projectType" type="text" name="projectType"/>
            </fieldset>
            <fieldset>
                <button type="submit">Add Project</button>
            </fieldset>
        </form>
    </div>
    <div class="allprojects">
        <h2>ALL PROJECTS</h2>
        <ul>
            <% projects.forEach((project) => { %>
                <li><%= project.name %> <button onclick="window.location.href='/admin/edit-project/<%= project._id %>'">EDIT</button>
              <% }) %>
        </ul>
    </div>
</div>

<div class="maincontainer admin">
    <div class="newKlok">
        <h2>ADD KLOK</h2>
        <form class="createKlok" method="POST" action="/admin/new-klok">
            <fieldset>
                <label for="user">User:</label>
                <input id="user" type="text" name="user"/>
            </fieldset>
            <fieldset>
                <label for="projectID">Project:</label>
                <input id="projectID" type="text" name="projectID"/>
            </fieldset>
            <fieldset>
                <label for="date">Date:</label>
                <input id="date" type="text" name="date"/>
            </fieldset>
            <fieldset>
                <label for="description">Description:</label>
                <input id="description" type="text" name="description"/>
            </fieldset>
            <fieldset>
                <label for="hours">Hours:</label>
                <input id="hours" type="number" name="hours"/>
            </fieldset>
            <fieldset>
                <button type="submit">Add Klok</button>
            </fieldset>
        </form>
    </div>
    <div class="allkloks">
        <h2>ALL KLOKS</h2>
        <ul>
            <% kloks.forEach((klok) => { %>
                <li><%= klok.id %> <button onclick="window.location.href='/admin/edit-klok/<%= klok.id %>'">EDIT</button>
                <% }) %>
        </ul>
    </div>
</div>

