<div class="page-content">
    <img src="https://i.ibb.co/QFrVfxR/New-Project.png" alt="Admin Dashboard">
    <p><%= admin.fullname %>, Welcome to your dashboard!</p>
    
    <div class="logout">
        <button onclick="window.location.href='/admin/logout'">Logout</button>
    </div>
    
    <br>

    <div class="tabbed">
        <input type="radio" id="tab1" name="css-tabs" checked>
        <input type="radio" id="tab2" name="css-tabs" checked>
        <input type="radio" id="tab3" name="css-tabs" checked>
        
        <ul class="tabs">
        <input type="radio" id="tab1" name="css-tabs" checked>
            <li class="tab"><label for="tab1">Employees</label></li>
            <li class="tab"><label for="tab2">Projects</label></li>
            <li class="tab"><label for="tab3">Kloks</label></li>
        </ul>

    <div class="tab-content">
        <div class="newUser">
            <label for="add-user" class="toggle">+ Employee</label>
            <input type="checkbox" name="add-user" id="add-user" class="hide-input">
            <div class="toggle-el">
                <h4>New Employee Information</h4>
                <form class="createUser" method="POST" action="/admin/new-user">
                    <p>
                        <label for="username">Username:</label>
                        <input id="username" type="text" name="username" required="true"/>
                    </p><p>
                        <label for="PIN">PIN:</label>
                        <input id="PIN" type="text" name="PIN" maxlength="5" required="true"/>
                    </p><p>
                        <label for="fullmame">Full Name:</label>
                        <input id="fullname" type="text" name="fullname" required="true"/>
                    </p><p>
                        <label for="startDate">Start Date:</label>
                        <input id="startDate" type="date" name="startDate" required="true"/>
                    </p><p>
                        <label for="position">Position:</label>
                        <input id="position" type="text" name="position" required="true"/>
                    </p><p>
                        <label for="hourlyPay">Pay Rate:</label>
                        <input id="hourlyPay" type="number" name="hourlyPay" required="true"/>
                    </p><p>
                        <button type="submit">Add User</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="allUsers">
            <h4>All Employees</h4>
            <ul>
                <% users.forEach((user, index) => { %>
                    <li>
                    <%= user.fullname %> 
                <label for="edit-user-<%= index %>" class="toggle">Edit</label>
                <input type="checkbox" name="edit-user" id="edit-user-<%= index %>" class="hide-input">
                <div class="toggle-el">
                    <div id="editUserContainer-<%= index %>">
                        <h4>Edit Employee Information</h4>
                        <form class="editUser" method="POST" action="/admin/edit-user/<%= user.id %>?_method=PUT">
                            <p>
                                <label for="username">Username:</label>
                                <input id="username" type="text" name="username" value="<%= user.username %>" required="true"/>
                            </p><p>
                                <label for="PIN">PIN:</label>
                                <input id="PIN" type="text" name="PIN" value="<%= user.PIN %>" required="true"/>
                            </p><p>
                                <label for="fullmame">Full Name:</label>
                                <input id="fullname" type="text" name="fullname" value="<%= user.fullname %>" required="true"/>
                            </p><p>
                                <label for="startDate">Start Date:</label>
                                <input id="startDate" type="text" name="startDate" value="<%= user.startDate %>" required="true"/>
                            </p><p>
                                <label for="position">Position:</label>
                                <input id="position" type="text" name="position" value="<%= user.position %>" required="true"/>
                            </p><p>
                                <label for="hourlyPay">Pay Rate:</label>
                                <input id="hourlyPay" type="number" name="hourlyPay" value="<%= user.hourlyPay %>" required="true"/>
                            </p><p>
                                <input type="hidden" name="userID" value="<%= user.id %>">
                                <button type="submit">Save</button>
                            </p>
                        </form>
                    </div>
                    <div id="deleteUserContainer-<%= index %>">
                        <h2>DELETE USER</h2>
                        <h5>WARNING: NO GOING BACK FROM HERE</h5>
                        <form class="deleteUser" method="POST" action="/admin/edit-user/<%= user.id %>/delete?_method=DELETE">
                            <input type="hidden" name="userID" value="<%= user.id %>">    
                            <button type="submit">Delete User</button>
                        </form>
                    </div>
                </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>


    <div class="tab-content">
        <div class="newProject">
            <label for="item-3" class="toggle">+ Project</label>
            <input type="checkbox" name="one" id="item-3" class="hide-input">
            <div class="toggle-el">
                <h4>New Project Information</h4>
                <form class="createProject" method="POST" action="/admin/new-project">
                    <p>
                        <label for="name">Name:</label>
                        <input id="name" type="text" name="name" required="true"/>
                    </p>
                    <p>
                        <label for="location">Location:</label>
                        <input id="location" type="text" name="location" required="true"/>
                    </p><p>
                    <label for="projectStart">Start Date:</label>
                    <input id="projectStart" type="date" name="projectStart" required="true"/>
                    </p><p>
                    <label for="active">Active:</label>
                    <input id="active" type="checkbox" name="active"/>
                    </p><p><label for="projectType">Project Type:</label>
                    <input id="projectType" type="text" name="projectType" required="true"/>
                    </p><p>
                    <button type="submit">Add Project</button></p>
                </form>
            </div> 
        </div>
        <div class="allProjects">
            <h4>All Projects</h4>
            <ul>
                <% admin.projects.forEach((project, index) => { %>
                <li>
                <%= project.name %> 
                <label for="edit-project-<%= index %>" class="toggle">Edit</label>
                <input type="checkbox" name="edit-project" id="edit-project-<%= index %>" class="hide-input">
                <div class="toggle-el">
                    <div id="editProjectContainer-<%= index %>">
                        <h4>Edit Project Information</h4>
                        <form class="editProject" method="POST" action="/admin/edit-project/<%= project.id %>?_method=PUT">
                            <p>
                                <label for="name">Name:</label>
                                <input id="name" type="text" name="name" value="<%= project.name %>" required="true"/>
                            </p><p>
                                <label for="location">Location:</label>
                                <input id="location" type="text" name="location" value="<%= project.location %>" required="true"/>
                            </p><p>
                                <label for="projectStart">Start Date:</label>
                                <input id="projectStart" type="date" name="projectStart" value="<%= project.projectStart %>" required="true"/>
                            </p><p>
                                <label for="active">Active:</label>
                                <input id="active" type="checkbox" name="active" value="<%= project.active %>"/>
                            </p><p>
                                <label for="projectType">Project Type:</label>
                                <input id="projectType" type="text" name="projectType" value="<%= project.projectType %>" required="true"/>
                            </p><p>
                                <input type="hidden" name="projectID" value="<%= project.id %>">    
                                <button type="submit">Save</button>
                            </p>
                        </form>
                    </div>
                    <div id="deleteProjectContainer-<%= index %>">
                        <h4>DELETE PROJECT</h4>
                        <h6>WARNING: NO GOING BACK FROM HERE</h6>
                        <form class="deleteUser" method="POST" action="/admin/edit-project/<%= project.id %>/delete?_method=DELETE">
                            <fieldset>
                                <input type="hidden" name="projectID" value="<%= project.id %>">    
                                <button type="submit">Delete Project</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                </li>
                <% }) %>
            </ul>
        </div>  
    </div>


    <div class="tab-content">
        <div class="newKlok">
            <label for="item-4" class="toggle">+ Klok</label>
            <input type="checkbox" name="one" id="item-4" class="hide-input">
            <div class="toggle-el">
                <h4>Add Klok (Time-Punch)</h4>
                <form class="createKlok" method="POST" action="/admin/new-klok">
                    <p>
                        <label for="user">User:</label>
                        <select name="user" id="user" required="true">
                            <% users.forEach((user) => { %>
                                <option value="<%= user.fullname %>">
                                    <%= user.fullname %>
                                </option>
                            <% }) %>
                        </select>
                    </p><p>
                        <label for="project">Project:</label>
                        <select name="project" id="project" required="true">
                            <% admin.projects.forEach((project) => { %>
                                <option value="<%= project.name %>">
                                    <%= project.name %>
                                </option>
                            <% }) %>
                        </select>
                    </p><p> 
                        <label for="date">Date:</label>
                        <input id="date" type="date" name="date" required="true"/>
                    </p><p>
                        <label for="description">Description:</label>
                        <input id="description" type="text" name="description" required="true"/>
                    </p><p>
                        <label for="hours">Hours:</label>
                        <input id="hours" type="number" name="hours" required="true"/>
                    </p><p>
                        <button type="submit">Add Klok</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="allKloks">
            <h4>All Kloks</h4>
            <ul>
                <% klokkies.forEach((klokkie, index) => { %>
                <li>
                    <%= klokkie.user %>
                    <%= klokkie.date %>
                    <label for="edit-klok-<%= index %>" class="toggle">Edit</label>
                    <input type="checkbox" name="edit-klok" id="edit-klok-<%= index %>" class="hide-input">
                    <div class="toggle-el">
                        <div id="editKlokContainer-<%= index %>">
                            <h4>Edit Klok Information</h4>
                            <form class="editProject" method="POST" action="/admin/edit-klok/<%= klokkie.id %>?_method=PUT">
                                <p>
                                    <label for="user">User:</label>
                                    <input id="user" type="text" name="user" value="<%= klokkie.user %>" required="true"/>
                                </p><p>
                                    <label for="project">Project:</label>
                                    <input id="project" type="text" name="project" value="<%= klokkie.project %>" required="true"/>
                                </p><p>
                                    <label for="date">Date:</label>
                                    <input id="date" type="date" name="date" value="<%= klokkie.date %>" required="true"/>
                                </p><p>
                                    <label for="description">Description:</label>
                                    <input id="description" type="text" name="description" value="<%= klokkie.description %>" required="true"/>
                                </p><p>
                                    <label for="hours">Hours:</label>
                                    <input id="hours" type="numbers" name="hours" value="<%= klokkie.hours %>" required="true"/>
                                </p><p>
                                    <input type="hidden" name="klokkieID" value="<%= klokkie.id %>">    
                                    <button type="submit">Save</button>
                                </p>
                            </form>
                        </div>
                        <div class="deleteKlokContainer-<%= index %>">
                            <h4>DELETE KLOK</h4>
                            <h6>WARNING: NO GOING BACK FROM HERE</h6>
                            <form class="deleteKlok" method="POST" action="/admin/edit-klok/<%= klokkie.id %>/delete?_method=DELETE">
                                <fieldset>
                                    <input type="hidden" name="klokkieID" value="<%= klokkie.id %>">    
                                    <button type="submit">Delete Klok</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    </li>
                <% }) %>
            </ul> 
        </div>
    </div>
</div>



