<div class="page-content">
    <div id="adminnav">
        <img src="https://i.ibb.co/m9bqXsx/clock-1.png">
        <% if (user) { %>
            <h3> Hi, <%= user.fullname %>!</h3>
            <br>
            <% } %>
            <div class="logout">
                <button class="graybtn" onclick="window.location.href='/user/logout'">LOGOUT</button>
            </div>
    </div>
    <div class="maincontainer klok">
        <div class="newKlok">
        <legend>KLOK YOUR HOURS</legend>
        <br>
        <form class="createKlok" method="POST" action="/user/home/<%= user._id %>/klok">
            <p>
                <label for="project">Project:</label>
                <select class="input" name="project" id="project" required="true">
                    <% projects.forEach((project) => { %>
                        <option value="<%= project.name %>">
                            <%= project.name %>
                        </option>
                    <% }) %>
                </select>
            </p>
            <p>
                <label for="date">Date:</label>
                <input class="input" id="date" type="date" name="date" required="true"/>
            </p>
            <p>
                <label for="hours">Hours:</label>
                <input class="input" id="hours" type="number" name="hours" required="true"/>
            </p>
            <p>
                <label for="description">Description:</label>
                <input class="input" id="description" type="text" size="50" name="description" required="true"/>
            </p>
            <p>
                <button class="graybtn" type="submit">KLOK TIME</button>
            </p>
        </div>
        <br>
        <div class="recentKloks">
            <legend> RECENT KLOKS </legend>
            <div id="klokkieBox">
                <ul id="klokBox">
                <% kloks.forEach((klok) => { %>
                <li id="specificKlok">
                <p>Description: <%= klok.description %></p>
                <p>Project: <%= klok.project %></p>
                <p>Hours: <%= klok.hours %></p>
                <p>Date: <%= klok.date %></p>
                </li>
                <br>
                <% }) %>
                </ul>
            </div>
        </div>  
    </div>
</div>